/* Small/Phone View ***************/
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Sansita+Swashed&display=swap");
    @media only screen and (min-width: 40em) {   
    #towns {
        display: grid;
        grid-template-columns: 1fr;
    }
        #towns section {
            display: block;
            margin-top: 10px;
        }
        #towns section img {
            padding: 0;
            margin: 0 0;
        }
        #towns section:nth-child(even) img {
            grid-column: 1;
            grid-row: 1;
            margin-left: 0;
        }
        nav {
        margin: 0 auto;
        /*max-width: 760px;*/
        background-color: #36454f;
    }
    hr {
        color: #C2F73F;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .menu {
        margin-left: auto;
        margin-right: auto;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #C2F73F;
        font-weight: 700;
    }
    .navigation a:hover {
        color: white;
        background-color: #9F33FF;
    }
    .responsive li {
        display: block;
    }
    .list1 p{
        color: white;
        margin-left: -20px;
    }
    .list2 p{
        margin-left: -50px;
        color:#C2F73F;
    }
    .active {
        text-decoration: underline;
        background-color: grey;
    }    
    .logo {
        max-width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    html{
        background-color: #41FFF2;
    }
    body {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    }
    main {
        max-width: 1440px;
        margin: 0 auto;
    }
    .contact {
        grid-row: 1;
        grid-column: 1/-1;
        color: #41FFF2;
    }
    p {
        margin-left: 30px;
    }
    .pcontactinfo {
        text-align: left;
    }
    footer {
        text-align: center;
        background-color:#36454f;
        padding: 2em;
    }
    div {
        text-align: center;
    }
    .legal {
        color: #C2F73F;
    }
    .highlight {
        color: #C2F73F;
    }
    .byui {
        color: #C2F73F;
    }
    .byui:hover {
        color: #9F33FF;
    } 
    .map {
        float: left;
        max-width: 70%;
        padding: 0 20px 0 0;
    }
    .padding-bottom {
        margin-bottom: 20px;
    }
    .social{
        padding: .4em;
        grid-column: 4/6;
        grid-row: 1/2;
    }
    img {
        max-width: 70%;
    }
    #towns section {
        background-color: #36454f;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        box-shadow: 2px 2px 8px black;
        border-radius: 5px;
        color: black;
        padding: 10px;
        margin-bottom: 30px;
        border: 7px double #C2F73F;
    }
    p {
        color: #41FFF2;
    }
}