@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Sansita+Swashed&display=swap");

html {
    background-color: #41FFF2;
}

body {
    background-color: #CFCFCF;
    max-width: 1200px;
    display: block;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Sanita Swashed', cursive;
    color: #9F33FF;
    text-align: center;
}
p, li {
    font-family: 'Courier Prime', 'monospace';
    color: black;
    padding: 0em;
    font-size: 20px;
}
p {
    text-align: center;
}

.logo {
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ppurpose {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row; 
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
    display: block;
	color: #C2F73F;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #9F33FF;
	color: #C2F73F
}
header,
nav,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;
}
nav ul { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));*/
}
footer {
    text-align: center;
}
footer {
	text-align: center;
	background-color:#36454f;
	padding: 2em;
}
div {
	text-align: center;
}
.legal {
	color: #C2F73F;
}
.highlight {
	color: #C2F73F;
}
.byui {
	color: #C2F73F;
}
.byui:hover {
	color: #9F33FF;
} 
.map {
	float: left;
	max-width: 70%;
	padding: 0 20px 0 0;
}
.padding-bottom {
	margin-bottom: 20px;
}
@media only screen and (min-width: 200px) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
	/*	nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	*/

	/* Grid *********************/
			nav ul { 
				display: grid;
				/*grid-template-columns: repeat(5, 1fr);*/
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			}

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}
@media only screen and (min-width: 400px) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}