@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Dancing+Script:wght@500&display=swap');
@media only screen and (min-width: 350px) {
nav {
    margin: 0 auto;
}
.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navigation li:first-child {
    display: block;
}
.menu {
    margin-left: auto;
    margin-right: auto;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #15619e;
    font-weight: 700;
    text-align:center;
    border-radius: 25px;
}
.navigation a:hover {
    color: white;
    background-color: #93c5ee;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}
h2, h1, h3 {
    font-family: 'Dancing Script', cursive;
    color: #15619e;
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
}
li, p {
    font-family: 'Cormorant';
    color:  #15619e;
}
label {
    font-family: 'Cormorant'; 
}
.motto {
    float:right;
}
main {
    padding: 60px;
}
.meat img{
    margin: 0 auto 0 auto;
}


    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        background-color: #93c5ee;
        border: 7px double #15619e;
        color: black;
        margin: auto;
        margin-top: 125px;
        margin-bottom: 125px;
        max-width: 700px;
    }

    .contact {
        grid-row: 1;
        grid-column: 1/-1;
        color: #15619e;
    }
    label {
        margin-left: 30px;
    }
    input {
        margin-right: 30px;
    }
    .report {
        grid-row: 7;
        grid-column: 1/3;
        color: #15619e;
    }
    #ratingvalue {
        grid-row: 14;
        grid-column: 1/3;
        margin: auto;
    }
    #number {
        grid-row: 11;
        grid-column: 2;
    }
    #type {
        grid-row: 12;
        grid-column: 2;
    }
    p {
        margin-left: 30px;
    }
    .radiobutton {
        display: grid;
        grid-template-columns: 60px 1fr;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .radio {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .radiobutton label {
        margin: 0;
    }
    .textfield {
        grid-row: 19;
        grid-column: 1/3;
        margin: auto;
    }
    textarea {
        resize: vertical;
    }
    .danger {
        color: #41FFF2;
        padding-top: 2px;
    }
    .button {
        grid-row: 20;
        grid-column: 1/3;
        margin: 0 auto;
        margin-bottom: 15px;
        border: 3px solid #41FFF2;
        background-color: #15619e;
        color: white;
    }
    .help {
        grid-row: 17;
        grid-column: 1/3;
        margin-top: -12px;
        padding-bottom: 10px;
    }

    .pcontactinfo {
        text-align: left;
    }
    footer {
        text-align: center;
        background-color:#93c5ee;
        padding: 2em;
    }
    main {
        max-width: 1440px;
        margin: 0 auto;
    }
    body {
        margin: 0 auto;
        box-sizing: border-box;
        }
}
@media only screen and (min-width: 900px) {
    .hidden{
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    p {
        font-size: 24px;
    }
    .dcontact {
        padding: 30px;
    }
    .veggie {
        padding-top: 40px;
    }
    .contactlist li {
        font-size: 24px;
    }
    .contactlist {
        list-style: none;
    }
    .social {
        float: right;
    }
    .social img {
        padding: 10px;
        width: 50px;
    }
    .social {
        margin: 0 auto 0 auto;
    }
}